table#edittable table {
    width: 100%;
    margin: 15px 0
}

table#edittable th {
    background-color: #93DAFF;
    color: #000000
}

table#edittable,
table#edittable th,
table#edittable td {
    font-size: 0.95em;
    text-align: center;
    padding: 4px;
    border: 1px solid #c1e9fe;
    border-collapse: collapse
}

table#edittable tr:nth-child(odd) {
    background-color: #dbf2fe;
}

table#edittable tr:nth-child(even) {
    background-color: #fdfdfd;
}

table#edittable .top,
.bottom,
.up,
.down,
.mod,
.del {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}